/*Dito is hindi kona nilagyan ng position kasi hindi naman ito magkakapatong 
kaya sa margin nalang tinaasan ko */

.name-Story {
  text-align: center;
  text-transform: capitalize;
  margin: 200px 200px 50px 200px;
  font-size: 50px;
  text-shadow: 15px 5px 5px #47c18e ;
  color: #0f4e2e;
}

.Container {
  margin: 100px 200px 1000px 200px; 
  background-color: aliceblue;
  border: 2px solid black;
  padding: 30px 50px 30px 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first-p {
  margin-top: 30px;
  text-align: justify;
  word-spacing: 2px;
  line-height: 35px;
  font-size: 30px;
  text-indent: 100px;
}
.second-p {
  margin-top: 60px;
  text-align: justify;
  word-spacing: 2px;
  line-height: 35px;
  font-size: 30px;
}
.third-p {
  margin-top: 60px;
  text-align: justify;
  word-spacing: 2px;
  line-height: 35px;
  font-size: 30px;
}

.fourth-p {
  margin-top: 60px;
  text-align: justify;
  word-spacing: 2px;
  line-height: 35px;
  font-size: 30px;
}

.fifth-p {
  margin-top: 60px;
  text-align: justify;
  word-spacing: 2px;
  line-height: 35px;
  font-size: 30px;
}

.sixth-p {
  margin-top: 60px;
  text-align: justify;
  word-spacing: 2px;
  line-height: 35px;
  font-size: 30px;
  text-align-last: center;
}
