/* In Navigation i use position fixed for nav ay hindi naalis*/
.navigation {  
  background-color: #74C69D;
  border: 1px solid black;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
}

/* if kung magkakaproblema kapag may ul you need to add margin 0 */
ul {
  margin: 0;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

