

* {
  padding: 0;
  margin: 0;
}

main {
  margin: 2rem;
  width: 100%;
  height: 500px;
}

main img {
  max-width: 400px;
  max-height: 400px;
}

.main-2 {
  width: 200px;
  height: 200px;
}

.main-2 .img {
  width: 200px;
  height: 200px;
}

.main-2 .img img {
  max-width: 200px;
  max-height: 200px;
}