* {
  padding: 0;
  margin: 0;
}

/* first is the image */

#img1 {
  width: 60px;
  height: 80px;
  border-radius: 50px;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
}

.navigation .flex {
  margin: 20px;
}

.logo {
  margin-right: auto;
}