@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E9D8DD;
}

.navigation {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: #DABEC6;
}