@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E9D8DD;
}

.navigation{
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #DABEC6;
  box-shadow: 20px 10px 20px #B57D8D;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  margin-right: auto;
}
.logo img {
  width: 120px;
  border-radius: 100px;
  padding: 20px;
}
.ul-1 {
  display: flex;
  gap: 60px;
  font-size: 30px;
  list-style: none;
  padding: 60px;
  font-family: 'Pixelify Sans', sans-serif;
}

.ul-1 li a {
  text-decoration: none;
  color: #4E2D35;
}

.ul-1 li a:hover {
  color: #9B596A;
  background-color: none;
  letter-spacing: 20px;
  text-shadow: 10px 10px 5px #683C47;
  transition: 1s;
}


.container-1 {
  margin: 100px;
}

.Text-1 {
  font-size: 300px;
  font-family: 'Pixelify Sans', sans-serif;
  color: #4E2D35;
  text-align: center;
  padding-top: 200px;
  text-transform: capitalize;
}
.Text-1 p:hover {
  letter-spacing: 90px;
  transition: 1s;
  background-image: url(https://i.pinimg.com/564x/4a/54/3b/4a543be6263104d8de093d7ac4e51257.jpg);
  background-size: contain;
  text-shadow: 50px 10px 20px #e13939;
  border-radius: 200px;
  color: #E9D8DC;

}