/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #faeff1;
}

/* first is the image */

#img1 {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px #e2a2ae;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 10px;
}

.navigation .flex {
  margin: 30px;
  font-family: 'Young Serif', serif;
}

.logo {
  margin-right: auto;
  margin-left: 20px;
}

.flex a {
  color: #5d1d29;
  text-decoration: none;
  text-shadow: 5px 5px 3px #e2a2ae;
  font-size: 25px;
}
.flex a:hover {
  background-color: transparent;
  color: #E7B1BB;
}

.about {
  padding-right: 30px;
}


/* This is the Container-1 */

.container-1 {
  position: absolute;
  display: flex;
  margin: 100px 100px 100px 100px;
  height: 500px;
}
#image-1 {
  width: 600px;
  border-radius: 40px;
}

.text {
  color: #5d1d29;
  font-size: 100px;
  margin: 200px;
  text-shadow: 20px 20px 20px #e2a2ae;
  letter-spacing: 5px;
}

.con-1 {
  padding: 20px;
}

/* This is Container-2 */

.container-2 {
  position: absolute;
  display: flex;
  margin: 1400px 100px 100px 100px;
}


