* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsla(114, 100%, 72%, 0.501);
  height: 1500px;
}
/* I code first the logo image */
/* This is logo image */
.logo-image img {
  width: 100px;
  border-radius: 100px;
  box-shadow: 5px 10px 5px #5a8f54 ;
}

/* This is nav */

.navigation {
  background-color: hsla(114, 100%, 72%, 0.6);
  display: flex;
  top: 0;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  box-shadow: 20px 10px 6px #305f2b;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.flex, .logo-image {
  margin: 30px;
}

.logo-image {
  margin-right: auto;  
}  

.flex {
  padding: 30px;
  font-size: 20px;
  text-transform: uppercase;
}

.about {
  box-shadow: 5px 10px 7px #305f2b;
  border-radius: 40px;
}

.code {
  box-shadow: 5px 10px 7px #305f2b;
  border-radius: 40px;
}

.resume {
  box-shadow: 5px 10px 7px #305f2b;
  border-radius: 40px;
}
.flex  a {
  color: #422928;
  text-decoration: none;
}

/* This is hover for nav link's */
.flex a:hover {
  background-color: transparent;
  color: #ffa19e;
}

/* This is section title */

.title {
  margin: 200px;
  padding: 100px 600px;
  height: 1350px;
  background-color: #7EE8FA;;
  text-align: center;
  font-size: 40px;
  background-image: url(https://i.pinimg.com/originals/d7/f5/35/d7f535d11421e455c27c6f4cd4fd4328.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Text {
  text-shadow: 20px 20px 20px hsla(0, 80%, 25%, 0.758);
  color: hsl(120, 100%, 76%);
  letter-spacing: 10px;
}