
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* 1st resizing the image logo */

#logo {
  width: 120px;
  border-radius: 50px;
}

/* this is navigation */

body {
  background-color: #CDF4ED;
}

.navigation {
  display: flex;
  background-color: rgba(70, 216, 194, 32%);
  position: fixed;
  top: 0;
  width: 100%;
  gap: 40px;
  box-shadow: 10px 15px 10px rgba(14, 67, 59, 50%);
}

.nav {
  font-size: 25px;
  font-family: 'PT Serif', serif;
}
.nav:first-child {
  margin-right: auto;
}

.nav:last-child {
  margin-left: auto;
}

#logo {
  margin: 10px 0px 10px 30px;
}

.about {
  margin: 50px 100px 20px 0px;
}

.code, .images {
  margin: 50px 10px 20px 10px ;
}

.nav .a-0{
  color: #0E433B;
  text-decoration: none;
  border-radius: 10px;
}

.nav .a-0:hover {
  box-shadow: 10px 10px 10px rgba(14, 67, 59, 50%);
  transition: 1s;
  text-transform:uppercase;
  letter-spacing: 20px;
}
 /* This is the design code of Container-1 */

 .container-1 {
  margin: 450px 350px 0px 70px;
  color: #0E433B;
 }

 .text-1 {
  font-size: 70px;
 }

 .p-1 {
  font-size: 30px;
  text-transform: capitalize;
  text-align: justify;
 }

 /* Code Design of Container-2 */

.container-2 {
  margin: 600px 0px 0px 0px;

}