* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8BECF5;
}

/* Image first */

.img1 {
  width: 500px;
  border-radius: 100px;
  padding-left: 0px;
}

.img2 {
  width: 550px;
  border-radius: 30px;
}

.img3 {
  width: 500px;
  border-radius: 100px;

}

.container {
  margin: 200px 150px 50px 150px;
  padding: 40px;
  box-shadow: 20px 10px 10px #12C0CF;
  border-radius: 30px;
  background-color: #33DEED;
  display: flex;
  gap: 20px;
  position: absolute;
}

/* Image Hover's */

.img1:hover {
  border-radius: 200px;
  transition: 1s;
  box-shadow: 10px 10px 5px #057983;
} 
.img2:hover {
  border-radius: 200px;
  transition: 1s;
  box-shadow: 10px 10px 5px #057983;
} 
.img3:hover {
  border-radius: 200px;
  transition: 1s;
  box-shadow: 10px 10px 5px #057983;
} 



