* {
  padding: 0;
  margin: 0;
}

/* This is For Body */

body {
  background-color: #fbfaf8; 

}

/* This is Navigation bar */

.navigation {
  display: flex;
  background-color: #e7decd;
  padding: 40px;
  justify-content:flex-end ;
  box-shadow: 2px 2px 4px #698f3f;
  margin: 20px 30px;
}

.flex, .Logo {
  margin: 20px;
  font-family: sans-serif;
  font-size: 25px;
  color: #0a122a;
}

.flex a {
  text-decoration: none;
  color: #0a122a;
}

.Logo {
  margin-right: auto;
  letter-spacing: 10px;
  text-transform: uppercase;
  

}

.Storys {
  margin-right: auto;
}

.About {
  margin-left: 30px;
}


/* This is hover for hyper link */

.flex a:hover{
  background-color: transparent;
  color: #698f3f;
}

/* This is code for Conatiner */

.container {
  background-color: #e7decd;
  box-shadow: 5px 3px 6px #804E49;
  margin: 100px 50px;
  height: 400px;
  display: flex;
  justify-content: center;
}

div {
  margin: 100px;
  font-size: 30px;
}