/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #faeff1;
}

/* first is the image */

#img1 {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px #e2a2ae;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
}

.navigation .flex {
  margin: 30px;
  font-family: 'Young Serif', serif;
}

.logo {
  margin-right: auto;
  margin-left: 20px;
}

.flex a {
  color: #5d1d29;
  text-decoration: none;
  text-shadow: 5px 5px 3px #e2a2ae;
  font-size: 25px;
}
.flex a:hover {
  background-color: transparent;
  color: #E7B1BB;
}

.about {
  padding-right: 30px;
}


/* This is the Container-1 */

.container-1 {
  display: flex;
  margin: 150px 100px 100px 100px;
  height: 500px;
  box-shadow:10px 10px 10px #8a2f4093;
}
#image-1 {
  width: 600px;
  border-radius: 50px;
}

.text {
  color: #5d1d29;
  font-size: 100px;
  margin: 200px;
  text-shadow: 20px 20px 20px #e2a2ae;
  letter-spacing: 5px;
}

.con-1 {
  padding: 20px;
}

/* This is Container-2 */

.container-2 {
  display: flex;
  margin: 600px 100px 50px 100px;
  padding: 0px 100px 0px 0px;
  background-color: rgba(235, 193, 201, 0.687);
  border-radius: 40px;
  box-shadow:10px 10px 10px #8a2f4093;
}


#image-2 {
  width: 400px;
  border-radius: 100px;
}

.text-2 {
  font-size: 40px;
  margin: 200px 0px 0px 30px;
  color: #5d1d29;
}
.text-3 ul li {
  font-size: 20px;
  text-align: justify;
  color: #5d1d29;
}
.text-3 {
  margin: 300px 100px 0px 0px;
}

/* This is Container-3 */

.container-3 {
  display: flex;
  margin: 300px 100px 100px 100px ;
  position: absolute;
  background-color: rgba(230, 178, 188, 0.455);
  border-radius: 50px;
  box-shadow:10px 10px 10px #8a2f4093;
}

#image-3 {
  width: 500px;
  border-radius: 100px;
}

.text-5 {
  margin: 150px 0px 0px 40px;
  font-size: 60px;
  color: #5d1d29;
}

ul .li-1 {
  font-size: 20px;
  margin: 10px 30px;
  text-align: justify;
  word-spacing: 2px;
}

/* Design Code for Container-4 */

.container-4 {
  display: flex;
  margin: 1150px 100px 100px 220px ; 
}

.con-4 {
  position: absolute;
}

.con-4 #image-4 {
  position: absolute;
  width: 500px;
  z-index: 1;
  border-radius: 50px;
  box-shadow:10px 10px 10px #5d1d29;
}
.con-4 #image-5 {
  position: absolute;
  width: 500px;
  height: 700px;
  margin: 0px 100px 150px 550px ;
  border-radius: 50px;
  z-index: 2;
  box-shadow:10px 10px 10px #5d1d29;

}
.con-4 #image-6 {
  position: absolute;
  margin: 0px 100px 150px 1100px ;
  width: 500px;
  border-radius: 50px;
  z-index: 3;
  box-shadow:10px 10px 10px #5d1d29;
}
