* {
  margin: 0;
  padding: 0;
}

/* Body */

body {
  background-color: #291E5C;
}

/* Resize image first */

.img-1 {
  width: 400px;
  border-radius: 40px;
  box-shadow: 30px 20px 10px #D7D1F0;
}

.img-2 {
  width: 447px;
  border-radius: 40px;
  box-shadow: 30px 20px 10px #D7D1F0;
}
.img-3 {
  width: 538px;
  border-radius: 40px;
  box-shadow: 20px 15px 10px #D7D1F0;
}

/* Container-1 no Z-index */

.container-1 {
  display: flex;
  margin: 150px 200px 100px 200px;
  justify-content: space-between;
  border-radius: 40px;
}

.image:hover {
  border-radius: 500px;
  transition: 1s;
  box-shadow: 400px 300px 30px #8774D2;
  transition-delay: 0.3s;
}
/* container-2 design code */
.container-2 {
  margin: 200px 200px 100px 200px;
  display:flex;
  justify-content: space-evenly;
  border-radius: 40px;
}

.img-4 {
  width: 500px;
  border-radius: 40px;
}

.img-5 {
  width: 500px;
  border-radius: 40px;
}


