* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsla(114, 100%, 72%, 0.501);
  height: 1500px;
}
/* I code first the logo image */
/* This is logo image */
.logo-image img {
  width: 100px;
  border-radius: 100px;
  box-shadow: 5px 10px 5px #5a8f54 ;
}

/* This is nav */

.navigation {
  background-color: hsla(114, 100%, 72%, 0.6);
  display: flex;
  top: 0;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  box-shadow: 20px 10px 6px #305f2b;
}

.flex, .logo-image {
  margin: 30px;
}

.logo-image {
  margin-right: auto;  
}  

.flex {
  padding: 30px;
  font-size: 20px;
  text-transform: uppercase;
}

.about {
  box-shadow: 5px 10px 7px #305f2b;
}
.flex  a {
  color: #422928;
  text-decoration: none;
}

/* This is hover for nav link's */
.flex a:hover {
  background-color: transparent;
  color: #ffa19e;
}

/* This is section title */

.title {
  margin: 200px;
  padding: 100px 600px;
  background-color: #7EE8FA;;
  text-align: center;
  font-size: 40px;
}