* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #D8F3DC;
}

.Container-1 {
  border: 2px solid black;
  display:flex;
  flex-direction: column;
  background-color: #74C69D;
  justify-content: center;

}

img {
  width: 100px;
}

.box {
  color: black;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box-1 {
  background-color: aqua;
}

.box-2 {
  background-color:blanchedalmond;
}

.box-3 {
  background-color:brown;
}

.box-4 {
  background-color:cadetblue;
}

.box-5 {
  background-color:coral;
}

.box-6 {
  background-color:cornflowerblue;
}

.box-7 {
  background-color:cyan;
}

.box-8 {
  background-color:darkblue;
}

.box-9 {
  background-color:darkgray;
}

.box-10 {
  background-color:darkturquoise;
}
