* {
  margin: 0;
  height: 1024;
  width: 1440;
}
body {
  background-color: #D8F3DC ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.container-1 {
  height: 618px;
  width: 1394px;
}

img {
  height: 570px;
  width: 414px;
}

