* {
  margin: 0;
  padding: 0;

}
/* (*) means select all */

main {
  font-size: 10px;
}

.box {
  border: 2px solid red;
  font-size: 2em;
  flex-wrap: wrap;
  padding: 1em;
  margin: 2em;
  width: 50vw;
}

.box .bx-1 {
  font-size: 2em;
}
