* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e9f5db;
  height: 90px;
  width: 100%;
  position: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Text-header ul {
  list-style: none;
  display: flex;
  margin: 20px;
  float: right;
}

ul li a {
  text-decoration: none;
  margin: 30px 20px 30px 20px;
  color: #4c5838;
  font-size: large;
}

.Profile {
  border: 1px solid #2c341f;
}