* {
  margin: 0;
  padding: 0;
}
/* This is Header Buttons */
header {
  background-color: #e9f5db;
  height: 90px;
  width: 100%;
  position: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Text-header ul {
  list-style: none;
  display: flex;
  position: absolute;
  margin: 30px 10px 10px 1400px;
}

ul li a {
  text-decoration: none;
  margin: 30px 20px 30px 20px;
  color: #4c5838;
  font-size: large;
}
li a:hover {
  background-color: transparent;
  color: #718355 ;
}

#border-1 {
  border: 1px solid #96b06f;
  padding: 5px 15px 5px 15px;
}
#border-1:hover{
  background-color: #cff29754;;
} 
/* This is Header Logo */

.Logo {
  position: absolute;
  margin: 20px 20px 20px 100px;
  font-size: xx-large;
}